.cards {
  margin: 0 200px 0;
  padding: 0;
}

@media screen and (max-width: 1029px) {
  .cards {
    margin: 0 220px;
  }
}

@media screen and (max-width: 1018px) {
  .cards {
    margin: 0 200px;
  }
}

@media screen and (max-width: 980px) {
  .cards {
    margin: 0 400px;
  }
}

@media screen and (max-width: 768px) {
  .cards {
    margin: 0 243px;
  }
}

@media screen and (max-width: 545px) {
  .cards {
    margin: 0 70px;
  }
}

@media screen and (max-width: 440px) {
  .cards {
    margin: 0 50px;
  }
}

@media screen and (max-width: 350px) {
  .cards {
    margin: 0 19px;
  }
}
