.profile__caption{
  width: 24px;
  height: 24px;
  border: 1px solid #fff ;
  background-color:#000;
  background-image: url("../../../images/pen.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  align-self: center;
  }
